@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('/fonts/OpenSauceSans-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
